django
djangorestframework
drf-spectacular
psycopg2-binary
djangorestframework-simplejwt
django-cors-headers

# Dependencias para pruebas
coverage==7.3.2
pylint==3.0.2
flake8==6.1.0
pytest==7.4.3
pytest-django==4.7.0